UKLubes-SOA/UKLubesOrder/xsd/filename.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:fn="http://www.fn.org" targetNamespace="http://www.fn.org"
            elementFormDefault="qualified">
  <xsd:element name="FileName" type="fn:FNType">
    <xsd:annotation>
      <xsd:documentation>
        A sample element
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FNType">
    <xsd:sequence>
      <xsd:element name="filename" type="xsd:string"/>
      <xsd:element name="Directory_Path" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
